<div class="site-header">

  <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

  <label class="menu-icon" for="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </label>

  <input type="checkbox" class="menu-toggle" id="hamburger">

  <div class="site-menu">
    {% for page in site.pages %}
      {% if page.title %}
      <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
    <a class="page-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a>
  </div>

</div>
