////////////////////////
// Document container //
////////////////////////

.biggie {
    max-width: $on-widescreen;
    margin-right: auto;
    margin-left: auto;
    @include media-query($on-widescreen) {
        width: 100%;
    }
}


/////////////////
// Site header //
/////////////////

.site-header {

    // Size
    min-height: $nav-bar-height;
    max-width:  $sidebar-width;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    box-sizing: border-box;

    // Positioning
    position: fixed;
    z-index: 999;

    // Resize
    @include media-query($on-palm) {
        max-width: $on-widescreen - ($spacing-unit * 2);
        left: 0px;
        right: 0px;
        top: 0px;
        clear: both;
    }

    // Stylistic stuff
    background-color: $background-color;
    border-right: 1px solid $grey-color-light;
    height: 100%;
    @include media-query($on-palm) {
        border-bottom: 1px solid $grey-color-light;
        border-right: none;
        height: auto;
    }

    // Title
    .site-title {
        font-size: 26px;
        line-height: $nav-bar-height;
        letter-spacing: -1px;

        // Position
        float: right;
        margin-bottom: 0;
        padding-top: $spacing-unit;
        @include media-query($on-palm) {
            float: left;
            padding-top: 0px;
        }

        // Color
        &,&:visited {
            color: $grey-color-dark;
        }
    }

    // Icon appearance
    .hamburger-icon {
        margin-right: 0px;
        margin-top: 9px;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;

        border: 1px solid $grey-color-light;
        border-radius: 5px;

        > div {
            width: 18px;
            height: 3px;
            margin: auto;
            background-color: $grey-color-dark;
            border-radius: 2px;
            &:nth-of-type(2) {
                margin: 3px auto;
            }
        }
    }

    // Menu
    .menu-icon {
        @extend .hamburger-icon;
        display: none;
        cursor: pointer;
        @include media-query($on-palm) {
            display: block;
        }
    }
    .menu-toggle {
        display: none;
        float: right;
    }
    .site-menu {
        line-height: $nav-bar-height;
        float: right;
    }
    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        text-align: right;
        display: block;
        padding: 5px 0px;
        
        @include media-query($on-palm) {
            display: block;
            padding: 5px 10px;
            float: right;
            clear: both;
        }
    }

    // Operate the hamburger
    @include media-query($on-palm) {
        .site-menu {
            display: none;
        }
        // .menu-icon:focus {
        //     display: none;
        // }
        // .menu-icon:focus ~ .site-menu, .site-menu:hover {
        //     display: block;
        //     clear: both;
        // }
        // .menu-icon:focus ~ .close-icon {
        //     display: block;
        // }
        .menu-toggle:checked ~ .site-menu {
            display: block;
            clear: both;
        }
    }

}


/////////////
// Content //
/////////////

.page-content {
    padding-top: $spacing-unit;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
    box-sizing: border-box;
    margin-left: $sidebar-width;

    @include media-query($on-palm) {
        margin-top: $nav-bar-height;
        margin-left: 0px;
        width: 100%;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



///////////
// Pages //
///////////

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-palm) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-palm) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-palm) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-palm) {
            font-size: 18px;
        }
    }
}


//////////////////
// Footer stuff //
//////////////////

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}


